@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.35;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1170px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

/* Header------------------------------------------------- */
.site-header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px 16px;
    box-shadow: 0 3px 10px #0000001a;
}

.site-header__wrapper {
    display: contents;
}

.brand__img {
    flex: 1 1 150px;
    width: 150px;
}

.nav__item {
    padding: 8px 16px;
}

.nav__link {
    text-decoration: none;
    color: black;
}

/* Desktop styles: header*/
@media(min-width: 800px) {
    .nav__list {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        list-style: none;
    }

    .menu {
        display: none;
        cursor: pointer;
    }
}

/* Mobile styles: header*/
@media (max-width: 799px) {
    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;

        transition: all 0.3s ease-in-out;
        background-color: black;
    }

    .menu {
        display: block;
    }

    .menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav__list {
        position: fixed;
        z-index: 2;
        left: -200%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        box-shadow: 0 8px 10px #0000001a;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        list-style: none;
        background-color: white;
    }

    .nav__item {
        margin: 16px 0;
    }

    .nav__list.active {
        left: 0;
    }
}

/* Hero------------------------------------------------- */
.hero {
    position: relative;
    min-height: calc(285px + 15vw);
    display: grid;
}

.parallax__container{
    position: absolute;
    background-image: url(../img/Landing-Page-BG.jpg);
    height: 100%;
    width: 100%;
    inset: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__wrapper {
    flex: 1;
    display: grid;
    place-content: end start;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.hero__content {
    flex: 1;
    z-index: 1;
    padding: 15rem 0 2rem 8rem;
    max-width: 40ch;
}

.hero__content-background{
    backdrop-filter: blur(50px) contrast(200%) sepia(50%);
    filter: saturate(120%);
}

.hero__content p{
    color: black;
    font-size: clamp(1rem, 5vw, 1.25rem);
}

.hero__content a {
    display: block;
    color: black;
}

a {
    text-decoration: none;
}

.hero__headline {
    color: black;
    text-transform: uppercase;
    font-size: clamp(1.35rem, 6vw, 2.15rem);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.flow > * + * {
    margin-top: var(--flow-space, 1em);
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
}

.hero__img {
    max-width: 100%;
    object-fit: cover;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Desktop styles: hero*/
@media(min-width: 800px) {
    .parallax__container{
        background-attachment: fixed;
    }

    .hero__wrapper{
        place-content: center start;
    }
}

/* Mobile styles: hero*/
@media (max-width: 799px) {
    .parallax__container{
        background-attachment: scroll;
    }

    .hero__content{
        padding: 2rem 0 0rem 2rem;
        max-width: 22ch;
    }
}

/* Three img-------------------------------------------- */

.three-img{
    position: relative;
    margin: 10rem 0;
    min-height: calc(480px + 15vw);
    display: grid;
}

.three-img__wrapper {
    flex: 1;
    display: grid;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.three-img__content {
    flex: 1;
    z-index: 2;
    padding: 1rem 0 1rem 1rem;
    max-width: 20ch;
    background-color: black;
}

.three-img__content p {
    color: #ece0e2;
    font-size: clamp(1rem, 5vw, 1.25rem);
  }

.three-img__content a {
    display: block;
    color: #e483d0;
}

.three-img__headline {
    color: #ece0e2;
    color: #6179ff;
    font-size: clamp(1.35rem, 6vw, 2.15rem);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.three-img__background{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: grid;
}

.three-img__img{
    background-size: cover;
    background-repeat: no-repeat;
}

.img1{
    grid-area: img1;
    background-image: url(../img/PerfectBlueBlack.jpeg);
    background-position: center;
}
.img2{
    grid-area: img2;
    background-image: url(../img/TokyoGodfatherRed.jpg);

}
.img3{
    grid-area: img3;
    background-image: url(../img/PaprikaBlue.webp);
}

/* mobile styles: three-img */
@media (max-width: 799px) {
    .three-img__wrapper{
        place-content: start right;
    }

    .three-img__content{
        max-width: 20ch;
    }

    .three-img__background{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr;
        grid-template-areas: 
            "img1"
            "img2"
            "img3"
        ;
    }

}

/* desktop styles: three-img */
@media (min-width: 800px) {
    .three-img__wrapper{
        place-content: center start;
    }

    .three-img__content{
        max-width: 45ch;
    }

    .three-img__background{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "img1 img2"
            "img1 img3"
        ;
    }
}

/* Foorter--------------------------------------------------------------------------- */

.footer{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    padding: 8px 16px;
    min-height: calc(150px + 15vw);
    gap: 1rem;
}

.footer__wrapper{
    display: contents;
}

.footer__section{
    height: 200px;
    flex: 1;
}

.footer__section h3{
    margin-bottom: 20px;
    color: white;
    text-transform: uppercase;
    font-size: clamp(1rem, 6vw, 1.8rem);
    font-weight: 700;
}

.footer__brand{
    flex: 1 1 150px;
    width: 150px;
    filter: invert(100%);
}

.footer__list{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.footer__list li{
    padding: 6px 0;
}

.footer__list a{
    color: white;
}

/* mobile styles: footer */
@media (max-width: 799px) {
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .footer__brand{
        padding-top: 3rem;
    }
}

/* desktop styles: footer */
@media (min-width: 800px) {
    .footer{
        justify-content: space-between;
        align-items: center;
    }

    .footer__brand{
        padding-left: 3rem;
    }
}


/* BIO------------------------------------------------------------------- */

.bio-page__wrapper{
    margin-bottom: 10rem;
}

.bio {
    position: relative;
    min-height: calc(470px + 15vw);
    display: grid;
}

.bio__wrapper {
    flex: 1;
    display: grid;
    place-content: end start;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.bio__content {
    flex: 1;
    z-index: 1;
    padding: 6rem 0 1rem 1rem;
    max-width: 55ch;
}

.bio__content-background{
    padding: 2rem;
    background-color: #1a1a1a;
}

.bio__content p{
    font-size: clamp(1rem, 5vw, 1.25rem);
}

.bio__content a {
    display: block;
}

.bio__headline {
    text-transform: uppercase;
    font-size: clamp(1.35rem, 6vw, 2.15rem);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.bio__background-img{
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    max-width: 100%;
    object-fit: cover;
}

/* Desktop styles: bio*/
@media(min-width: 800px) {
    .bio__wrapper{
        place-content: center start;
    }
    .bio__content-background{
        box-shadow: 12px 12px 0px 1px #dc4e22;
    }

    .bio__content p{
        color: white;
    }
    
    .bio__content a {
        color: white;
    }
    
    .bio__headline {
        color: white;
    }
}

/* Mobile styles: bio*/
@media (max-width: 799px) {
    .bio__content{
        padding: 20rem 0 0rem 0rem;
        max-width: 38ch;
    }
    .bio__content-background{
        box-shadow: 0 12px 0px #dc4e22;
    }

    .bio__content p{
        color: white;
    }
    
    .bio__content a {
        color: white;
    }
    
    .bio__headline {
        color: white;
    }

    .bio__background-img{
        clip-path: inset(0 0 0 46%);
        height: 40%;
    }
}

/* Works--------------------------------------------------- */

    .works-page__wrapper{
        background-image: url(../img/CounterComposition.jpg);
        background-size: contain;
        background-size: 100%;
        backdrop-filter: opacity(50%);
    }

    @media(min-width: 800px) {
        .works-page__wrapper{
            background-size: 50%;
        }
    }

    .works-cards__wrapper{
        padding: 10rem 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

  
  .card {
    margin: 1rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    min-height: 254px;
    width: 340px;
    overflow: hidden;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.09);
    aspect-ratio: 1/1;
    text-align: start;
  }
  
  .card-content {
    z-index: 1;
    padding: 8px;
    background-color: white;
  }
  
  
  .card-image {
    display: block;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
  }
  
  .card-content-wrapper {
    display: block !important;
    text-align: center;
  }
  
  .card-side>*+* {
    margin-top: 16px;
  }
  
  .stacked .card-content {
    text-shadow: revert !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-content .card-title {
    color: #222;
    font-weight: 700;
    font-size: 20px;
    margin: 0 0 16px 0;
  }
  
  .card-content .card-subtitle {
    font-weight: 400;
    display: block;
    color: #5a5a5a;
    font-style: normal;
  }

